nav .navbar-nav .nav-item
{
    cursor: pointer;
}
.dashboard_container
{
    margin: 4em auto;
}
.dashboard_container .intro_msg
{
    padding-bottom: 1em;
}
.activity_wrapper h4
{
    padding: 0.5em 0;
}
.time_selector_wrapper
{
    padding: 1em 0;
}
.time_selector_wrapper h4
{
    padding: 0.5em 0;
}
.activity_wrapper .activity_select_wrapper,
.time_selector_wrapper .time_selector
{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.activity_select_wrapper  label
{
    cursor: pointer;
    padding-left: 0.5rem;
    transition: 0.1s;
}
.activity_select_wrapper  .form-check:hover
{
    font-weight: 500;
}
.activity_select_wrapper  input:checked ~label
{
    font-weight: 500;
}
.booking_submit
{
    text-align: center;
    font-size: 18px;
}
.confirm_booking_wrapper
{
    text-align: center;
    padding: 2em 0;
}

@media only screen and (max-width: 500px) {
    .activity_wrapper .activity_select_wrapper,
    .time_selector_wrapper .time_selector
    {
       flex-direction: column;
    }
}

