.login_page_heading
{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 10em;
}
.login_form_wrapper
{
    width: 45%;
    margin: 2em auto;
}
.login_form_wrapper form
{
    padding: 1.5em;
    background-color: #7070700d;
}
.login_form_wrapper .form_heading
{
    padding: 0.5em 0;
}
.iziToast .iziToast-message
{
    font-weight: 400!important;
    opacity: 1;
    color: #fff !important;
}

@media only screen and (max-width: 500px) {
    .login_form_wrapper
    {
        width: 100%;
    }
}